.titulo{
    text-align: center;
    padding: 10px;
    background-image: url("https://img.freepik.com/foto-gratis/fondo-textura-acuarela-purpura-rosa_1083-169.jpg?size=626&ext=jpg");
}

h1{
    font: oblique bold 120% cursive;
    font-size: 50px;
}

.contenido{
    display: grid;
  grid-template-columns: 700px auto;
  grid-column-gap: 30px;
  padding: 10px;
}

.productos{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    background-color: #ABB2B9;
    padding: 10px;
    border-radius: 5px;
    
}

.chocolatina{
    max-width: 320px;
    padding: 10px;
    
}

.example-card {
    max-width: 320px;
  }

.coca{
    max-width: 320px;
    padding: 10px;
}

.mani{
    max-width: 320px;
    padding: 10px;
}

.margarita{
    max-width: 320px;
    padding: 10px;
}

.digitos{
    padding: 10px;
    background-color: #ABB2B9;
    border-radius: 5px;
    border: blueviolet solid 2px;
}

.p-inputgroup{
    max-width: 300px;
}

.operaciones{
    border: blueviolet solid 2px;
}

.nombres{
    border: blueviolet solid 2px;
}